<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User's Feedback - Weekly</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row" >
        <stats number="3" comments="Happy" colour="green" type="star"></stats>
        <stats number="2" comments="Neutral" colour="yellow" type="eye"></stats>
        <stats number="5" comments="Sad" colour="red" type="ban"></stats>
        <stats number="10" comments="Total #Feedback" colour="primary" type="check"></stats>
    <div class="col-lg-12">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Feedback Timeline
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>

    </div>  <!-- /.col-lg-12 -->
</div>