<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Leaderboards</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
        <div class="col-lg-12">
    
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading"> Top Loos - Cleanliness factor & User Rating </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Location</th>
                                <th>Contractor Name</th>
                                <th>Cleanliness factor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>1</td>
                                <td>Public Toilet - Janpath</td>
                                <td>Shailendra Pal</td>
                                <td>88 %</td>
                            </tr>
                            <tr class="info">
                                <td>2</td>
                                <td>Public Toilet - CP </td>
                                <td>Rishi Singh</td>
                                <td>86 %</td>
                            </tr>
                            <tr class="warning">
                                <td>3</td>
                                <td>Public Toilet - NDRS</td>
                                <td>Madan Manjerekar</td>
                                <td>82 %</td>
                            </tr>
                            <tr class="danger">
                                <td>4</td>
                                <td>Public Toilet - Janpath</td>
                                <td>Azad Hussain</td>
                                <td>81 %</td>
                            </tr>
                            <tr class="success">
                                <td>5</td>
                                <td>Public Toilet - Tilak Nagar</td>
                                <td>Mohan Joshi</td>
                                <td>77 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    
    
     <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading"> Top Cleaners -  Cleanliness factor</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="success">
                                <td>1</td>
                                <td>Shailendra</td>
                                <td>Pal</td>
                                <td>Public Toilet - Janpath</td>
                            </tr>
                            <tr class="success">
                                <td>2</td>
                                <td>Rishi</td>
                                <td>Singh</td>
                                <td>Public Toilet - CP </td>
                            </tr>
                            <tr class="success">
                                <td>3</td>
                                <td>Madan</td>
                                <td>Manjerekar</td>
                                <td>Public Toilet - NDRS</td>
                            </tr>
                            <tr class="success">
                                <td>4</td>
                                <td>Azad</td>
                                <td>Hussain</td>
                                <td>Public Toilet - Janpath</td>
                            </tr>
                            <tr class="success">
                                <td>5</td>
                                <td>Mohan</td>
                                <td>Joshi</td>
                                <td>Public Toilet - Tilak Nagar</td>
                            </tr>
                            <tr class="success">
                                <td>6</td>
                                <td>Om</td>
                                <td>Praksah</td>
                                <td>Public Toilet - Janpath</td>
                            </tr>
                            <tr class="success">
                                <td>7</td>
                                <td>Rishpal</td>
                                <td>Singh</td>
                                <td>Public Toilet - CP </td>
                            </tr>
                            <tr class="success">
                                <td>8</td>
                                <td>Pravesh</td>
                                <td>Lal</td>
                                <td>Public Toilet - NDRS</td>
                            </tr>
                            <tr class="success">
                                <td>9</td>
                                <td>Amit</td>
                                <td>Yadav</td>
                                <td>Public Toilet - Janpath</td>
                            </tr>
                            <tr class="success">
                                <td>10</td>
                                <td>Hira</td>
                                <td>Lal</td>
                                <td>Public Toilet - Tilak Nagar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    
    </div>
    <!-- /.row -->
</div>